* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}
body {
  font-family: Roboto;
  font-weight: 300;
  line-height: 1.9;
  color: #fff;
  background-color: #1f2937;
}

/* Navitation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  padding: 5rem;
  z-index: 100;
}
.nav nav__logo {
  height: 7.5rem;
  transition: all 0.3s;
}
.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  color: #e5e7eb;
}
.nav__items {
  margin-left: 5rem;
}

.nav__link:link,
.nav__link:link {
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}
.nav__link:hover {
  color: #3882f6;
  font-size: 2.5rem;
}

/* Section */
.section--1 {
  padding: 3rem 3rem;
  transition: transform 1s, opacity 1s;
}

/* Elements */
h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  line-height: 1.35;
  cursor: pointer;
  margin: 2rem auto 1rem auto;
}

.container {
  display: flex;
  justify-content: space-between;
  /* for making responsive */
  width: 96%;
  max-width: 1100px;
}
.containerfirst {
  display: flex;
  flex-direction: column;
  margin: auto 8rem;
  justify-content: center;
  /* for making responsive */
  width: 60%;
}
.containersec {
  margin: auto 12rem;
  /* for making responsive */
  width: 35%;
}
.image-person {
  border-radius: 1rem;
  margin-left: 0;
}

.para2 {
  color: #1f2937;
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  padding: 3rem 15rem;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 10rem;
}

.parag {
  font-size: 18px;
  color: #e5e7eb;
  margin: 2rem auto 1rem auto;
}
.hello-email {
  margin: 2rem auto 1rem auto;
  height: 4rem;
  max-width: 50rem;
  width: 100%;
  border-radius: 2rem;
  text-align: left;
  padding-left: 1rem;
  border: 2px solid #37383d;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
}
.hello-message {
  margin: 2rem auto 1rem auto;
  height: 25rem;
  width: 50rem;
  border-radius: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  font-family: inherit;
  border: 2px solid #37383d;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
}
.button-send {
  padding: 0.8rem 2.5rem;
  border-radius: 1rem;
  background-color: #3882f6;
  color: #fff;
  width: 10rem;
  margin: 2rem auto;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
}
.button-send:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 255, 0.4);
}
.footer__copyright {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 2.5rem;
  font-size: 1.5rem;
}
.social-media {
  margin-top: 10rem;
  display: flex;
}

/* Queries for responsiveness */

@media (max-width: 1030px) {
  .containersec {
    display: none;
  }
}

@media (max-width: 768px) {
  .containerfirst {
    width: 100vw;
  }
  .para2 {
    font-size: 24px;
  }
  .social-media {
    justify-content: center;
  }
}
