
body {
  font-family: 'Roboto';
  margin: 0;
  color: #fff;
  background-color: #1f2937;
}

.section--1 {
  width: 100%;
  display: flex;
  background-color: #1f2937;
  ;
  justify-content: space-around;
  overflow: hidden;
  flex-wrap: wrap-reverse;
  padding: 0;
}

.out-section-div {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-wrap: wrap-reverse;
  padding: 0;

}

h1 {
  line-height: 1.35;
  cursor: pointer;
}

#contact-h1 {
  margin-top: 40px;
}

.containerfirst {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: right;
}

.containersec {
  display: flex;
  align-items: center;
}

.image-person {
  border-radius: 1rem;
  width: 550px;
  margin-top: 20px;
}

.para2 {
  color: #1f2937;
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  margin: 0;
  padding: 100px;

}

.aside {
  color: #1f2937;
  background-color: #e5e7eb;

}

.hello-email {

  height: 4rem;
  width: 100%;
  border-radius: 2rem;
  text-align: center;
  font-size: 20px;
  border: 2px solid #37383d;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
}

.hello-message {
  height: 24rem;
  width: 100%;
  font-size: 22px;
  padding-top: 10px;
  text-align: center;
  border-radius: 2rem;
  font-family: inherit;
  border: 2px solid #37383d;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
}

.aside {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-send {
  padding: 0.8rem 2.5rem;
  border: 1px solid #f9faf8;
  border-radius: 1rem;
  background-color: #3882f6;
  color: #fff;
  width: 10rem;
  margin: 0.5rem auto;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
}

.button-send:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 255, 0.4);
}

.social-media {
  display: flex;
  list-style: none;
  cursor: pointer;
  justify-content: center;
  padding-bottom: 40px;

}

.btn {
  display: inline-block;
  background: none;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  color: #e5e7eb;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 600;
  align-self: center;
  padding-top: 40px;
}

@media (max-width:550px) {
  .image-person {
    width: 500px;

  }
}
@media (max-width:500px) {
  .image-person {
    width: 450px;
  }
}
@media (max-width:450px) {
  .image-person {
    width: 400px;
  }
}

@media (max-width:420px) {
  .para2 {
    font-size: 26px;
  }
  .image-person {
    width: 300px;

  }
}