* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}
body {
  font-family: Roboto;
  margin: 0;
  font-weight: 300;
  line-height: 1.9;
  color: #fff;
  background-color: #1f2937;
}

main {
  max-width: 100vw;
  width: 100%;
  padding: 0;
}

/* Navitation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  padding: 5rem;
  z-index: 100;
}
.flex-row {
  width: 100%;
}

/* Section */
.section--1 {
  padding: 3rem 3rem;
  transition: transform 1s, opacity 1s;
  display: flex;
  justify-content: center;
}

/* Elements */
h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  line-height: 1.35;
  cursor: pointer;
  margin: 2rem auto 1rem auto;
}

.container {
  display: flex;
  justify-content: space-between;
  /* for making responsive */
  width: 96%;
  max-width: 1100px;
}
.containerfirst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* for making responsive */
  width: 55%;
}
.containersec {
  display: flex;
  align-items: center;
  /* for making responsive */
  width: 40%;
}
.image-person {
  border-radius: 1rem;
  height: 300px;
  width: auto;
}

.para2 {
  color: #1f2937;
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  padding: 3rem 15rem;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 10rem;
}

.parag {
  font-size: 18px;
  color: #e5e7eb;
  margin: 2rem auto 1rem auto;
}
.hello-email {
  margin: 2rem auto 1rem auto;
  height: 4rem;
  max-width: 50rem;
  width: 100%;
  border-radius: 2rem;
  text-align: left;
  padding-left: 1rem;
  border: 2px solid #37383d;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
}
.hello-message {
  margin: 2rem auto 1rem auto;
  height: 25rem;
  max-width: 50rem;
  width: 100%;
  border-radius: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  font-family: inherit;
  border: 2px solid #37383d;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
}
.aside {
  width: 100%;
}
.button-send {
  padding: 0.8rem 2.5rem;
  border-radius: 1rem;
  background-color: #3882f6;
  color: #fff;
  width: 10rem;
  margin: 0.5rem auto;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
}
.button-send:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 255, 0.4);
}
.social-media {
  margin-top: 10rem;
  display: flex;
  list-style: none;
  cursor: pointer;
}
.btn {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  border: none;
  color: #e5e7eb;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  width: 240px;
  font-weight: 600;
  align-self: center;
  padding-top: 0;
}

.footer {
  width: 100%;
  color: #f9faf8;
  display: flex;
  justify-content: center;
}

/* Queries for responsiveness */

@media only screen and (max-width: 1080px) {
  .containersec {
    display: none;
  }
  .containerfirst {
    width: 100vw;
    margin: 0;
  }
}

@media (max-width: 900px) {
  .para2 {
    font-size: 24px;
  }
}

@media (max-width: 650px) {
  .para2 {
    font-size: 22px;
    justify-content: center;
    padding: 2rem;
    width: 100%;
  }

  .social-media {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .parag {
    margin: 0;
  }

  .btn {
    font-size: 15px;
    width: 120px;
  }

  .para2 {
    font-size: 18px;
    justify-content: center;
    margin: 0;
    width: 100%;
  }
  .social-media {
    justify-content: center;
  }
}
