@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
}

header {
  max-width: 100vw;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: aqua;
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;

}

header nav {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
}

section a,
header nav li a {
  text-decoration: none;
  color: white;
}

header nav li a:hover {
  text-decoration: underline;
}

header nav li,
section ul li {
  list-style: none;
  font-size: 18px;
  color: #e5e7eb;
}

.refubook-logo {
  margin: 0;
  padding: 0;
  font-size: 29px;
  text-decoration: none;
}

.quote-background {
  width: 100%;
  background-color: #e5e7eb;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
  margin: 0;
}

.main-items-padding {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 80px;
}

@media (max-width:450px) {
  header nav {
    gap: 10px;
  }

  header nav li,
  section ul li {
    font-size: 12px;
  }

  .refubook-logo {
    font-size: 20px;
  }
}

@media (max-width:550px) {
  .quote-background {
    font-size: 22px;
  }
}

header p {
  margin: 0;
  font-size: 29px;
  text-decoration: none;
  color: white;
}

.refubook-logo a {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Roboto';
  margin: 0;
}

.outside-div {
  max-width: 100vw;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;

}

.outside-header-div {
  max-width: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0;
}

section {
  width: 80%;
  display: flex;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.logo {
  height: 34px;
  width: auto;
}

h1 {
  margin-top: 100px;
}

@media (max-width:1180px) {
  section {
    justify-content: center;
    flex-wrap: wrap;
  }

  .main-items-padding {
    padding: 0;
  }

  h1 {
    margin-top: 0
  }

}

.second-section {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-content: center;

}

.container-div-for-pics {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  width: 150px;
}

.test {
  border: 2px solid #3882f6;
  border-radius: 8px;
  width: 180px;
  height: 120px;
}

section ul li a {
  font-size: 14px;
  color: #1f2937;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

#section-div-p {
  font-size: 18px;
  color: #f9faf8;
  max-width: 400px;
  width: 100%;
}


.signUp-button {
  background-color: #3882f6;
  width: 100px;
  height: 30px;
  font-size: 18px;
  color: #f9faf8;
  border-radius: 8px;
  border: hidden;

}

.information-header {
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 20px;
}
aside p{
  color:white;
}

.quote-width {
  width: 70%;
  border: none;
}

.quote-author {
  font-weight: 900;
  display: flex;
  justify-content: end;
  width: 100%;
}

.callToAction-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;

}

.callToAction-div {
  background-color: #3882f6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 50vw;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  flex-wrap: wrap;
}

.callToAction-header,
.callToAction-paragraph {
  font-size: 18px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.callToAction-paragraph {
  font-weight: lighter;
}

.callToAction-button {
  border: solid;
  margin: 5px;
  border-width: 2px;
  font-size: 14px;
  border-color: #f9faf8;
}

footer {
  width: 100%;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  background-color: #1f2937;
}

section ul li p {
  color: #1f2937;
}